mixin form-change-multi(path) 
    form(
        action=`${prefixAdmin}/products/change-multi?_method=PATCH`
        method="post"
        form-change-multi
    ) 
        .d-flex.align-items-start
            .form-group 
                select(name="type" class="form-control") 
                    option(value="active") Hoat dong 
                    option(value="inactive") Dung hoat dong
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Ap dung